-# coding: UTF-8
%form.question{id: "question_#{id}"}
  %fieldset

    %legend Problem #{index}
    %input.q-id{type: 'hidden', value: id}

    %p= question

    .row.collapse
      .ten.columns.mobile-three
        %table
          %thead
            -if headings
              %tr
                -headings.each do |heading|
                  %th= heading

          %tbody
            -grid.each_with_index do |row, i|
              %tr
                -row.each_with_index do |cell, j|
                  %td
                    - if Aladdin::Render::Table.input? cell
                      %input{name: "answer[#{i}][#{j}]", type: 'text'}
                    - else
                      = cell
      .two.columns.mobile-one
        %a.button.small.submit.expand.postfix.radius{href: '#'} Submit
